.element-headerRowClassName th{
  height 40px
  line-height 40px;
  font-size 12px;
  background: #f2f2f2 !important;
  color: #333;
}

.ql-editor{
  min-height:400px !important;
  margin-bottom 20px
}

.el-button--default a{
  color #fff;
}
.edit-content .el-textarea__inner{
  height 100%
  font-size 12px
}
.message-page .el-tabs__content{
  padding 0 !important
}

.order-table{
  border:1px solid #c2c2c2
}
.order-table tr td:first-child{
  position relative;
  padding-top 40px
}

.order-table tr td:first-child .number{
  position: absolute;
  height: 40px;
  line-height: 40px;
  left: -10px;
  top: -4px;
  z-index: 999;
  color: rgb(51, 51, 51);
  width: 4000px;
  background: #e4e4e4;
  text-indent: 23px;
}

.order-table.el-table--enable-row-hover .el-table__body tr:hover>td{
  background #fff;
}

.order-table .mt-40{
  margin-top 40px
}

.order-table-selection tr td:nth-child(2){
  position relative;
  padding-top 40px
}
.order-table-selection tr td:nth-child(2) .number{
  position: absolute;
  height: 40px;
  line-height: 40px;
  left: -56px;
  top: -4px;
  z-index: 98;
  color: rgb(51, 51, 51);
  width: 4000px;
  background: #e4e4e4;
  text-indent: 64px;
}

.order-table-label th .el-checkbox{
  display none
}

.order-table-selection tr td:nth-child(1) .el-checkbox{
  position absolute
  top: 4px
  z-index 99
}

.input-border-radius .el-input__inner{
  border-radius 0
}

.levelInterests .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
  background-color: #409EFF;
  border-color: #409EFF;
  display: inline-block;
  width: 14px;
  border-radius: 0 !important;
  height: 3px;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -webkit-transform: rotate(38deg);
}


.levelInterests .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
  border-color: #fff;
  color: #fff;
  content: '/';
  display: block;
  width: 20px;
  border-radius: 0px;
  height: 3px;
  background: #409eff;
  -webkit-transform: rotate(-90deg) translateY(-50%) translateX(60%);
}


.levelInterests .el-checkbox__input.is-disabled .el-checkbox__inner{
  background-color: #c0c4cc;
  border-color: #c0c4cc;
  cursor: not-allowed;
  display: inline-block;
  width: 14px;
  border-radius: 0 !important;
  height: 3px;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
}

.levelInterests .el-checkbox__input.is-disabled .el-checkbox__inner::after{
  cursor: not-allowed;
  border-color: #c0c4cc;
  background-color: #c0c4cc;
  color: #fff;
  content: '/';
  display: block;
  width: 20px;
  border-radius: 0px;
  height: 2px;
  -webkit-transform: rotate(-92deg) translateY(-59%) translateX(54%);
}

.preHtml .article-title:nth-child(1) {
  display block !important
}
.mall-goods{

}
.el-submenu.is-active .el-submenu__title{
  border-color #f2f2f2 !important
}
.list-editor .w-e-text img{
  display block !important
}
.pre-wapper img{
  display block
}

//.app-sideBar-submenu{
//  display none !important
//}

.dialogServiceSetting .el-dialog{
  margin-top: 10vh !important;
}
.el-table .row-is-valid {
  color: #999999
}
