@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jrmtmi');
  src:  url('../fonts/icomoon.eot?jrmtmi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jrmtmi') format('truetype'),
    url('../fonts/icomoon.woff?jrmtmi') format('woff'),
    url('../fonts/icomoon.svg?jrmtmi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-exchangeMoney:before {
  content: "\e902";
  color: #3d9e14;
}
.icon-exchangePoints:before {
  content: "\e903";
  color: #cccd36;
}
.icon-integral .path1:before {
  content: "\e904";
  color: rgb(96, 169, 209);
}
.icon-integral .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(166, 203, 221);
}
.icon-integral .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(96, 169, 209);
}
.icon-integral .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(166, 203, 221);
}
.icon-money .path1:before {
  content: "\e908";
  color: rgb(40, 104, 240);
}
.icon-money .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(143, 179, 255);
}
.icon-money .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(40, 104, 240);
}
.icon-money .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(143, 179, 255);
}
.icon-money .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(4, 62, 184);
}
.icon-money .path6:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(143, 179, 255);
}
.icon-money .path7:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 180, 0);
}
.icon-money .path8:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 210, 0);
}
.icon-money .path9:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 180, 0);
}
.icon-money .path10:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 210, 0);
}
.icon-money .path11:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 180, 0);
}
.icon-money .path12:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 210, 0);
}
.icon-money .path13:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 180, 0);
}
.icon-money .path14:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 210, 0);
}
.icon-money .path15:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 180, 0);
}
.icon-money .path16:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 210, 0);
}
.icon-order .path1:before {
  content: "\e918";
  color: rgb(186, 212, 255);
}
.icon-order .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(78, 140, 238);
}
.icon-order .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-order .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(78, 140, 238);
}
.icon-order .path5:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-order .path6:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(78, 140, 238);
}
.icon-order .path7:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path8:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path9:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path10:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path11:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path12:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path13:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path14:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path15:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(78, 140, 238);
}
.icon-order .path16:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(186, 212, 255);
}
.icon-order .path17:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(78, 140, 238);
}
.icon-playVideo:before {
  content: "\e929";
  color: #00bafa;
}
.icon-tag:before {
  content: "\e92a";
}
.icon-video:before {
  content: "\e92b";
  color: #2aa385;
}
.icon-question:before {
  content: "\e92c";
  color: #bfbfbf;
}